@import "../../../../variables";
.element {
  display: flex;
  flex-direction: column;
  background-color: map-get($map: $colors, $key: "info");
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: $base-padding;
  margin: $base-margin;
  font-size: $font-size-lg;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  img {
    width: 200px;
    height: 200px;
  }
  div {
    display: flex;
    flex-direction: row;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
